
MvcMovie/Servcie/obj/

MvcMovie/.vs/

MvcMovie/DataAccess/obj/

MvcMovie/MvcMovie/bin/

MvcMovie/MvcMovie/obj/

MvcMovie/MvcMovie/MvcMovie.csproj.user

MvcMovie/DataAccess/bin/

MvcMovie/Common/bin/

MvcMovie/Common/obj/

MvcMovie/Servcie/bin/
